
ul {
    display: flex;
    justify-content: center;
    margin: auto;
}
.nav-item {
    margin: 0 15px;
}
a{
    margin-right: 15px;
    text-decoration: none;
    font-size: 25px;
}

.view-info {
    width: 500px;
    margin: 50px auto;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
}

.info {
    font-weight: bold;
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-control {
    font-weight: bolder;
    font-size: 2rem;
}